.main{
    align-items:flex-start;
    justify-content:flex-start;
    height:auto;
    flex-direction: row;
}
.relative-layer{
    padding: 4em;
    position: relative;

}

#parent{
    position: absolute;
    top:20px;
    left:0px;
}

#child1{
    position: absolute;
    top:20px;
    left: 440px;
}

#child2{
    position: absolute;
    top:220px;
    left:15px;
}

#yes{
    position: absolute;
    top: 40px;
    left: 310px;
    color: var(--accent);
}

#no{
    position: absolute;
    top: 150px;
    left: 70px;
    color: var(--warning);
}

#child3{
    position: absolute;
    top:230px;
    left:440px;
}

.help{
    position: absolute;
    width: 400px;
    left: 750px;
}